#main {
  font-family: 'Fjalla One', sans-serif;
  opacity: .95;
}
#roll h3 {
  margin: 0 !important;
}
#display::first-letter {
  text-transform: uppercase;
}
#challnegeName {
  text-decoration: underline;
}
body {
  background-image: url("background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clear {
  display: none;
}
.show {
  display: inline-block;
}
